.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: Aeroport;
  src: url("../fonts/Aeroport-regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: Aeroport;
  src: url("../fonts/Aeroport-bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "2 MASSJ 1808- Heavy";
  src: url("../fonts/2MASS-J1808-Heavy.otf");
  font-weight: 900;
}

@font-face {
  font-family: "2 MASSJ 1808- Normal";
  src: url("../fonts/2MASS-J1808-Normal.otf");
  font-weight: 400;
}

body {
  overflow-x: hidden;
  color: #000000;
  font-family: Aeroport, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

img {
  max-width: 100%;
}

.q-campus-top {
  display: block;
  position: relative;
  width: 100%;
  height: 800px;
  overflow-y: auto;
  background-position: center center;
  background-size: cover;
}

.q-campus-cards {
  display: block;
  position: relative;
  width: 100%;
  padding: 55px 0 35px 0;
  background: #ffffff;
}

.q-campus-card {
  display: block;
  position: relative;
  max-width: 575px;
  flex: 0 1 575px;
  margin-bottom: 50px;
  border-radius: 22px;
  background-position: center center;
  background-size: cover;

  &_help {
    flex: 1 1 575px;
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    min-height: 360px;
    padding: 40px;
    border-radius: 22px;
    background: rgba(0, 0, 0, 0.4);

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__title {
    display: block;
    margin: 0 0 2px 0;
    color: #fefefe;
    font-family: "2 MASSJ 1808- Heavy";
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.46px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__subtitle {
    display: block;
    margin: 0 0 5px 0;
    color: #fefefe;
    font-family: "2 MASSJ 1808- Heavy";
    font-size: 27px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-out;

    sup {
      font-size: 18px;
    }
  }

  &__info {
    display: block;
    margin: 0;
    color: #ffffff;
    font-family: Aeroport;
    font-size: 23px;
    font-weight: 400;
    transition: all 0.2s ease-out;

    b,
    strong {
      font-size: 27px;
      font-weight: 400;
    }
  }

  &__link {
    display: inline-block;
    margin: 0 0 18px 0;
    color: #ffffff;
    font-family: "2 MASSJ 1808- Heavy";
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;

    &_hide {
      display: inline-block;
      margin-right: 5px;
    }

    span {
      display: inline-block;
      position: relative;
      transition: all 0.2s ease-out;

      &:after {
        display: block;
        position: absolute;
        content: '';
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, 0.7);
        transition: all 0.2s ease-out;
      }
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #ffffff;
      text-decoration: none;

      span {
        text-decoration: none;

        &:after {
          background: #ffffff;
        }
      }
    }
  }

  &__button {
    display: block;
    padding: 18px 33px;
    border-radius: 999rem;
    border: 2px solid #ffffff;
    background: transparent;
    color: #ffffff;
    font-family: "2 MASSJ 1808- Heavy";
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #ffffff;
      color: #0000ff;
      text-decoration: none;
    }
  }
}

.q-campuses-info {
  display: block;
  position: relative;
  width: 100%;
  background: #ffffff;
}

.q-campuses-info-card {
  display: block;
  position: relative;
  width: 100%;
  max-width: 470px;
  margin: 0 0 85px 0;

  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #000000;
    font-family: "2 MASSJ 1808- Heavy";
    font-size: 42px;
    font-weight: 400;
    line-height: 0.89;
    text-transform: uppercase;

    sup {
      font-size: 26px;
    }
  }

  &__text {
    display: block;
    margin: 0;
    color: #000000;
    font-family: Aeroport;
    font-size: 23px;
    font-weight: 400;

    a {
      color: #0000ff;
      text-decoration: underline;

      &:hover {
        color: #0000ff;
        text-decoration: none;
      }
    }
  }
}

.q-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0;
  background: #dddddd;

  &__logo {
    display: block;

    img {
      width: 205px;
      max-width: 205px;
      max-height: 205px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      /* transform: scale(0.95); */
      text-decoration: none;
    }
  }

  &__copyright {
    display: block;
    margin: 22px 0 0 0;
    color: #000000;
    font-family: Aeroport;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.38px;

    &_mob {
      display: none;
    }
  }

  &__info {
    display: block;
    margin: 0;
    font-family: Aeroport;
    color: #000000;
    font-size: 23px;
    font-weight: 400;
    line-height: 1.54;
  }

  &__title {
    display: block;
    margin: 0;
    font-family: Aeroport;
    color: #000000;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.54;
  }

  &__link {
    display: block;
    margin: 0;
    font-family: Aeroport;
    color: #000000;
    font-size: 23px;
    font-weight: 400;
    line-height: 1.54;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #0000ff;
      text-decoration: none;
    }
  }

  &__social {
    display: block;
    margin: 35px 0 0 0;

    a {
      display: inline-block;
      margin: 0 8px 8px 0;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        transform: scale(0.8);
        text-decoration: none;
      }

      img {
        max-width: 44px;
        max-height: 44px;
      }
    }
  }

  &__nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;

      a {
        display: block;
        color: #000000;
        font-size: 23px;
        font-weight: 400;
        line-height: 1.54;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #0000ff;
          text-decoration: none;
        }
      }
    }
  }

  &__partners {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 300px;

    img,
    svg {
      max-width: 200px;
      max-height: 60px;
      margin: 15px;
    }
  }
}

.q-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }

  &__close {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: 10px 0;
    padding: 120px 85px;
    border: 2px solid #000000;
    background: #ffffff;
  }

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 40px 0;
    color: #000000;
    font-family: "2 MASSJ 1808- Normal";
    font-size: 42px;
    font-weight: 400;
    line-height: 0.89;
    text-transform: uppercase;
    text-align: center;

    sup {
      font-size: 26px;
    }
  }

  &__input {
    display: block;
    width: 100%;
    max-width: 495px;
    margin-bottom: 60px;
    padding: 12px 0;
    border: 0;
    outline: none;
    border-bottom: 2px solid #000000;
    background: transparent;
    color: #000000;
    font-family: Aeroport;
    font-size: 23px;
    font-weight: 400;
    transition: all 0.2s ease-out;

    &:focus {
      border-color: #0000ff;
    }
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;


    textarea {
      display: block;
      width: 100%;
      margin-bottom: 90px;
      padding: 12px 0;
      border: 0;
      outline: none;
      border-bottom: 2px solid #000000;
      background: transparent;
      color: #000000;
      font-family: Aeroport;
      font-size: 23px;
      font-weight: 400;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #0000ff;
      }
    }
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
  }

  &__button {
    display: inline-block;
    padding: 32px 74px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    border: 2px solid #0000ff;
    background: transparent;
    color: #0000ff;
    font-family: "2 MASSJ 1808- Heavy";
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;

    i {
      display: inline-block;
      margin-right: 10px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #0000ff;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__info {
    display: inline-block;
    margin: 35px 0 0 0;
    opacity: 0.5;
    color: #1d1d1d;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

  &__choose {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin-bottom: 90px;
  }

  &__check {
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      text-decoration: none;
    }

    span {
      display: inline-block;
      position: relative;
      color: #000000;
      font-family: Aeroport;
      font-size: 27px;
      font-weight: 400;
      line-height: 1.8;
    }

    input {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;

      &:checked~span {
        color: #0000ff;
        font-weight: 700;

        &:after {
          display: block;
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;
          width: 100%;
          height: 5px;
          background: #0000ff;
        }
      }
    }
  }
}

.q-header {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 55px 0;
  pointer-events: none;
  z-index: 8;
  transition: all 0.2s ease-out;

  &__logo {
    display: inline-block;
    pointer-events: all;

    img {
      display: block;
      width: 200px;
      max-width: 200px;
      max-height: 200px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      /* transform: scale(0.95); */
      text-decoration: none;
    }
  }

  &__nav {
    display: inline-flex;
    position: relative;
    align-items: center;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    pointer-events: all;

    img {
      margin-left: 10px;
      margin-bottom: -3px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.95);
      text-decoration: none;
    }
  }

  &_active {
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.8);

    &>.container-fluid {
      align-items: center !important;
    }
  }

  &>.container-fluid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;

    li {
      display: block;

      a {
        display: block;
        color: #001fe0;
        font-size: 27px;
        font-weight: 700;
        line-height: 1.62;
        pointer-events: all;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #000000;
          text-decoration: none;
        }
      }
    }
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes eye_flash {
  0% {
    visibility: visible;
  }

  7% {
    visibility: hidden;
  }

  93% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

.q-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  width: 380px;
  height: 100vh;
  padding: 50px 45px 20px 45px;
  overflow-y: auto;
  text-align: right;
  background-color: #0000ff;

  &__close {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 55px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;

    img {
      display: inline-block;
      margin-left: 20px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.95);
      text-decoration: none;
    }
  }

  &__ul {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 0 60px 0;
    list-style: none;

    &:last-child {
      padding-bottom: 0;
    }

    li {
      display: block;

      &:last-child {
        a {
          margin: 0;
        }
      }

      a {
        display: block;
        margin: 0 0 18px 0;
        color: #ffffff;
        font-size: 27px;
        font-weight: 700;
        letter-spacing: 0.95px;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          opacity: 0.7;
          text-decoration: none;
        }
      }
    }
  }
}

.q-to-contact {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 194px;
  height: 194px;
  right: 45px;
  bottom: -250px;
  z-index: 6;

  &__background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/contacts_bg_x2@2x.png') no-repeat center center;
    background-size: contain;
    z-index: 0;
    animation: rotating 10s linear infinite;
  }

  &__face {
    display: block;
    position: relative;
    width: 110px;
    height: 97px;
  }

  &__eye {
    display: block;
    position: absolute;
    width: 40px;
    height: 16px;
    bottom: 130px;
    right: 40px;
    background: #ffffff;
    z-index: 1;
    opacity: 1;
    animation: eye_flash 4s linear infinite;
  }

  &_active {
    bottom: 5px;
  }

  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-out;

  &:hover {
    text-decoration: none;
  }
}

.q-item-gallery {
  display: block;
  position: relative;
  width: 100%;

  &__card {
    display: block;
    position: relative;
    width: 100%;
    height: 800px;
    background-position: center center;
    background-size: cover;
  }

  .swiper-pagination {
    width: auto;
    left: 45px;
    margin-bottom: 50px;
  }

  .swiper-pagination-bullet {
    margin: 0 20px 0 0;
    width: 18px;
    height: 18px;
    border: 3px solid #ffffff;
    background: transparent;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    border-color: #0000ff;
    background-color: #0000ff;
  }
}

.q-item {
  display: block;
  position: relative;
  width: 100%;

  &__cards {
    display: flex;
    align-items: stretch;
    flex-flow: row nowrap;
    position: relative;
    width: 100%;
    padding: 55px 45px 45px 45px;
  }

  &__card {
    display: inline-block;
    position: relative;
    width: 300px;
    flex: 0 0 300px;
    height: 150px;
    margin: 0 26px 0 0;
    border-radius: 22px;

    &_active {
      .q-item__card-content {
        background: rgba(0, 0, 255, 0.65);
      }
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.41);
      text-decoration: none;
    }

    &:active {
      .q-item__card-content {
        background: rgba(0, 0, 255, 0.65);
      }
    }

    &-content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 4px;
      border-radius: 22px;
      text-align: center;
      transition: all 0.2s ease-out;
    }

    &-title {
      display: block;
      margin: 0;
      color: #fefefe;
      font-family: "2 MASSJ 1808- Heavy";
      font-size: 35px;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.46px;
    }

    &-info {
      display: block;
      position: absolute;
      bottom: 16px;
      left: 0;
      width: 100%;
      color: #ffffff;
      font-family: Aeroport;
      font-size: 23px;
      font-weight: 400;
      line-height: 1;
      text-align: center;
    }
  }

  /* width */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 999rem;
    background: rgba(0, 0, 0, 0.05);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 999rem;
    background: rgba(0, 0, 255, 0.2);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 255, 0.8);
  }

  &__info {
    display: block;
    position: relative;
    width: 100%;
    padding: 40px 0 80px 0;

    &_home {
      padding: 0 0 40px 0;
    }
  }

  &__title {
    display: block;
    position: relative;
    margin: 0 0 30px 0;
    text-shadow: 2px 0 0 #0000ff, -2px 0 0 #0000ff, 0 2px 0 #0000ff, 0 -2px 0 #0000ff, 1px 1px #0000ff, -1px -1px 0 #0000ff, 1px -1px 0 #0000ff, -1px 1px 0 #0000ff;
    -webkit-text-fill-color: #fefefe;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0000ff;
    color: #fefefe;
    font-family: "2 MASSJ 1808- Heavy";
    font-size: 85px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    &_about {
      font-size: 77px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.46px;
    }

    &_home {
      margin: 0;
      color: #fefefe;
      font-size: 77px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.46px;
    }

    sup {
      font-size: 48px;
    }
  }

  &__subtitle {
    display: block;
    margin: 0;
    color: #000000;
    font-size: 23px;
    font-weight: 400;
    line-height: 1.63;

    a {
      color: #000000;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #0000ff;
        text-decoration: none;
      }
    }
  }

  &__button {
    display: inline-block;
    margin: 0;
    padding: 36px 60px;
    border-radius: 999rem;
    border: 2px solid #0000ff;
    background-color: #ffffff;
    color: #0000ff;
    font-family: "2 MASSJ 1808- Heavy";
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;

    &_about {
      margin: 45px 0 0 0;
      padding: 30px 92px;
      font-size: 39px;
    }

    &_home {
      width: 100%;
      margin: 14px 0 0 0;
      padding: 32px 6px;
      font-size: 39px;
    }

    &_mob {
      display: none;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #0000ff;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__description {
    display: block;
    margin: 0;
    color: #000000;
    font-family: Aeroport;
    font-size: 23px;
    font-weight: 400;
    line-height: 1.63;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0 0 15px 0;
      font-weight: 700;
    }

    p {
      display: block;
      margin: 0 0 15px 0;
    }
  }

  &-collapse {
    display: block;
    position: relative;
    width: 100%;
    margin: -2px 0 0 0;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    background-color: #ffffff;

    &:last-child {
      border-bottom: 0;
    }

    &__header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 47px 0;
      color: #000000;
      font-family: "2 MASSJ 1808- Normal";
      font-size: 42px;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;

      &_active {
        padding-bottom: 0;

        .q-item-collapse__icon {
          display: inline-block;
        }

        .q-item-collapse__number {
          display: none;
        }
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        /* transform: scale(0.95); */
        color: #0000ff;
        text-decoration: none;
      }
    }

    &__title {
      display: inline-block;
      margin: 0;
      color: #000000;
      font-family: "2 MASSJ 1808- Normal";
      font-size: 42px;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
      transition: all 0.2s ease-out;
    }

    &__icon {
      display: none;
      width: 55px;
      max-height: 35px;
      object-fit: scale-down;
      object-position: left center;
      transition: all 0.2s ease-out;
    }

    &__number {
      display: inline-block;
      width: 55px;
      color: #000000;
      font-family: "2 MASSJ 1808- Normal";
      font-size: 42px;
      font-weight: 400;
      line-height: 1;
      transition: all 0.2s ease-out;
    }

    &__content {
      display: none;
      position: relative;
      width: 100%;
      padding: 5px 0 60px 0;
      color: #000000;
      font-family: Aeroport;
      font-size: 23px;
      font-weight: 400;
      line-height: 1.63;

      p {
        display: block;
        margin: 0;
      }

      ul {
        line-height: 1.99;
      }
    }
  }

  .table {
    margin: 0;
    background: #ffffff;
    color: #000000;
    font-family: Aeroport;
    font-size: 23px;
    font-weight: 400;
  }

  .table td,
  .table th {
    padding: 6px 4px 16px 4px;
    border: 0;
    color: #000000;
    font-family: Aeroport;
    font-size: 23px;
    font-weight: 400;

    b,
    strong {
      font-weight: 700;
    }
  }

  .table td:last-child {
    text-align: end;
  }

  .table thead th {
    padding: 0 4px 16px 4px;
    color: #000000;
    font-family: Aeroport;
    font-size: 23px;
    font-weight: 700;

    &:last-child {
      text-align: end;
    }
  }

  .table tbody tr {
    border-top: 2px solid #000000;
  }

  .table-responsive {
    margin: 0;
    color: #000000;
    font-family: Aeroport;
    font-size: 23px;
    font-weight: 400;
  }
}

.q-order {
  display: block;
  position: relative;
  width: 100%;

  &__prep {
    display: block;
    position: relative;
    width: 100%;
    padding: 40px 0 50px 0;
  }

  &__title {
    display: block;
    margin: 0;
    text-shadow: 2px 0 0 #0000ff, -2px 0 0 #0000ff, 0 2px 0 #0000ff, 0 -2px 0 #0000ff, 1px 1px #0000ff, -1px -1px 0 #0000ff, 1px -1px 0 #0000ff, -1px 1px 0 #0000ff;
    -webkit-text-fill-color: #fefefe;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0000ff;
    color: #fefefe;
    font-family: "2 MASSJ 1808- Heavy";
    font-size: 85px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  &-step {
    display: block;
    position: relative;
    width: 100%;
    margin: -2px 0 0 0;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    background-color: #ffffff;

    &:last-child {
      border-bottom: 0;
    }

    &__header {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      width: 100%;
      padding: 40px 0 60px 0;
    }

    &__title {
      display: inline-block;
      margin: 0;
      color: #000000;
      font-family: "2 MASSJ 1808- Normal";
      font-size: 42px;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
      transition: all 0.2s ease-out;
    }

    &__subtitle {
      display: block;
      margin: 10px 0 0 0;
      padding-left: 55px;
      color: #000000;
      font-family: Aeroport;
      font-size: 23px;
      font-weight: 400;

      b,
      strong {
        font-weight: 700;
      }
    }

    &__number {
      display: inline-block;
      width: 55px;
      color: #000000;
      font-family: "2 MASSJ 1808- Normal";
      font-size: 42px;
      font-weight: 400;
      line-height: 1;
      transition: all 0.2s ease-out;
    }

    &__content {
      display: block;
      position: relative;
      width: 100%;
      padding: 5px 0 50px 0;
    }

    &__types {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      width: 100%;
      padding: 0 60px;

      label {
        display: block;
        width: 100%;
        max-width: 460px;
        margin: 0;
        padding: 0;
      }

      input {
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;

        &:checked~div {
          .q-order-step__type-title {
            border-color: #0000ff;
            color: #0000ff;
          }

          .q-order-step__type-text {
            color: #0000ff;
          }
        }
      }
    }

    &__type {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 0 5px 0;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        text-decoration: none;
      }

      &-title {
        display: block;
        width: 100%;
        margin: 0 0 20px 0;
        padding: 30px;
        border-radius: 999rem;
        border: 2px solid #000000;
        background-color: #ffffff;
        color: #000000;
        font-family: "2 MASSJ 1808- Heavy";
        font-size: 27px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        transition: all 0.2s ease-out;
      }

      &-text {
        display: block;
        margin: 0;
        color: #000000;
        font-family: Aeroport;
        font-size: 23px;
        font-weight: 400;
        transition: all 0.2s ease-out;
      }
    }

    &__counter {
      display: block;
      position: relative;
      width: 100%;
      max-width: 460px;
      margin: 10px 0 20px 60px;

      input {
        display: block;
        width: 100%;
        margin: 0;
        padding: 15px 100px;
        outline: none;
        border-radius: 999rem;
        border: 2px solid #000000;
        background-color: #ffffff;
        color: #000000;
        font-family: Aeroport;
        font-size: 42px;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type=number] {
        -moz-appearance: textfield;
      }

      &-plus,
      &-minus {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 90px;
        height: 90px;
        padding: 4px 4px 20px 4px;
        border: 2px solid #000000;
        border-radius: 999rem;
        background-color: #ffffff;
        color: #000000;
        font-family: Aeroport;
        font-size: 71px;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;

        b {
          pointer-events: none;
        }

        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          border-color: #0000ff;
          background: #ffffff;
          color: #0000ff;
          text-decoration: none;
        }

        &:active {
          background: #0000ff;
          color: #ffffff;
        }
      }

      &-plus {
        right: 0;
      }

      &-minus {
        left: 0;
      }
    }

    &__services {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      width: 100%;
      max-width: 1300px;
      margin: 0;
      padding: 0 0 0 40px;
      list-style: none;
      color: #000000;
      font-family: Aeroport;
      font-size: 23px;
      font-weight: 400;
      counter-reset: my-awesome-counter;

      &-text {
        display: inline-block;
        position: relative;
        margin: 0;
        line-height: 1.4;
        counter-increment: my-awesome-counter;

        &:before {
          content: counter(my-awesome-counter) ". ";
          display: inline-block;
          position: relative;
          padding-right: 5px;
          margin-bottom: -5px;
          border-bottom: 5px solid transparent;
          color: #000000;
          font-family: Aeroport;
          font-size: 23px;
          font-weight: 400;
          z-index: 1;
        }

        &:after {
          display: block;
          position: absolute;
          content: '';
          top: 100%;
          left: 0;
          width: 100%;
          height: 5px;
          background-color: transparent;
        }
      }

      label {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }

      input {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;

        &:checked~p {
          color: #0000ff;

          &:before {
            border-color: #ffffff;
            color: #0000ff;
          }

          &:after {
            background: #0000ff;
          }
        }
      }

      li {
        display: inline-block;
        position: relative;
        width: 100%;
        max-width: 580px;
        margin-bottom: 25px;
        margin-left: 20px;
      }
    }
  }

  &__form {
    &-input {
      display: block;
      width: 100%;
      max-width: 495px;
      margin-bottom: 50px;
      padding: 12px 0;
      border: 0;
      outline: none;
      border-bottom: 2px solid #000000;
      background: transparent;
      color: #000000;
      font-family: Aeroport;
      font-size: 23px;
      font-weight: 400;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #0000ff;
      }
    }

    textarea {
      display: block;
      width: 100%;
      margin-bottom: 50px;
      padding: 12px 0;
      border: 0;
      outline: none;
      border-bottom: 2px solid #000000;
      background: transparent;
      color: #000000;
      font-family: Aeroport;
      font-size: 23px;
      font-weight: 400;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #0000ff;
      }
    }

    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: stretch;
      position: relative;
      width: 100%;
      max-width: 1095px;
    }
  }

  &-shedule {
    display: block;
    position: relative;
    width: 100%;
    padding-left: 60px;
    padding-bottom: 40px;

    &__header {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 30px 0;
    }

    &__date {
      display: inline-flex;
      align-items: center;
      position: relative;
      margin: 0;
      color: #000000;
      font-family: Aeroport;
      font-size: 27px;
      font-weight: 700;

      p {
        margin: 0 20px;
      }
    }

    &__prev {
      display: inline-block;
      outline: none;
      filter: brightness(0);

      img,
      svg {
        width: 100%;
        max-width: 34px;
        max-height: 34px;
        transform: rotate(90deg);
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        filter: none;
        text-decoration: none;
      }
    }

    &__next {
      display: inline-block;
      outline: none;
      filter: brightness(0);

      img,
      svg {
        width: 100%;
        max-width: 34px;
        max-height: 34px;
        transform: rotate(-90deg);
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        filter: none;
        text-decoration: none;
      }
    }

    &__info {
      display: inline-block;
      position: relative;
      margin: 0;
      color: #000000;
      font-family: Aeroport;
      font-size: 23px;
      font-weight: 700;

      &-gray {
        color: #9d9d9d;
      }

      &-black {
        margin-left: 60px;
        color: #000000;
      }

      &-blue {
        margin-left: 60px;
        color: #0000ff;
      }
    }

    label {
      display: inline-block;
      position: relative;
      margin: 0;
      padding: 0;
    }

    input {
      width: 0;
      height: 0;
      position: absolute;
      overflow: hidden;
      opacity: 0;

      &:checked~.q-order-shedule__checkbox {
        color: #0000ff;
        font-weight: 700;
      }
    }

    &__checkbox {
      display: inline-block;
      color: #000000;
      font-family: Aeroport;
      font-size: 23px;
      font-weight: 400;

      &_disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.4;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        text-decoration: none;
      }
    }

    .table {
      margin: 0;
      background: #ffffff;
      color: #000000;
      font-family: Aeroport;
      font-size: 23px;
      font-weight: 400;
    }

    .table td,
    .table th {
      padding: 22px 4px;
      border: 0;
      color: #000000;
      font-family: Aeroport;
      font-size: 23px;
      font-weight: 400;

      b,
      strong {
        font-weight: 700;
      }
    }

    .table td:first-child {
      letter-spacing: -0.57px;
      font-weight: 700;
    }

    /* .table td:last-child {
      text-align: end;
    } */

    .table thead th {
      padding: 10px 4px;
      color: #000000;
      font-family: Aeroport;
      font-size: 23px;
      font-weight: 700;

      /* &:last-child {
        text-align: end;
      } */
    }

    .table thead tr {
      border-top: 2px solid #000000;
    }

    .table tbody tr {
      border-top: 2px solid #000000;

      &:last-child {
        border-bottom: 2px solid #000000;
      }
    }

    .table-responsive {
      margin: 0;
      color: #000000;
      font-family: Aeroport;
      font-size: 23px;
      font-weight: 400;
    }

    /* the end of shedule */
  }

  &-finish {
    display: block;
    position: relative;
    width: 100%;
    padding-left: 60px;

    &__info {
      display: block;
      position: relative;
      width: 100%;

      &-card {
        display: block;
        position: relative;
        width: 100%;
        margin: 0 0 33px 0;
      }

      &-title {
        display: block;
        margin: 0;
        color: #000000;
        font-family: Aeroport;
        font-size: 23px;
        font-weight: 700;
      }

      &-text {
        display: block;
        margin: 0;
        color: #000000;
        font-family: Aeroport;
        font-size: 23px;
        font-weight: 400;
      }
    }

    &__promo {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 20px 0 40px 0;

      &-title {
        display: block;
        margin: 0;
        color: #000000;
        font-family: Aeroport;
        font-size: 23px;
        font-weight: 700;
      }

      &-text {
        display: inline-block;
        width: 100%;
        max-width: 250px;
        margin: 0;
        color: #000000;
        font-family: Aeroport;
        font-size: 19px;
        font-weight: 400;
      }

      &-button {
        display: inline-block;
        margin: 0;
        padding: 26px 67px;
        border-radius: 999rem;
        border: 2px solid #000000;
        background-color: #ffffff;
        color: #000000;
        font-family: "2 MASSJ 1808- Heavy";
        font-size: 27px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          border-color: #0000ff;
          background: #0000ff;
          color: #ffffff;
          text-decoration: none;
        }
      }

      input {
        display: inline-block;
        width: 100%;
        max-width: 275px;
        margin: 0 40px;
        border: 0;
        outline: none;
        padding: 28px 12px;
        border-radius: 999rem;
        background-color: #dddddd;
        color: #000000;
        font-family: "2 MASSJ 1808- Heavy";
        font-size: 27px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
      }
    }

    &__image {
      display: block;
      max-width: 850px;
      height: 530px;
      border-radius: 22px;
      background-position: center center;
      background-size: cover;
    }

    &__price {
      display: block;
      max-width: 845px;
      padding: 26px 0 20px 0;
      border-top: 2px solid #000000;
      color: #000000;
      font-family: Aeroport;
      font-size: 27px;
      font-weight: 700;

      &-title {
        display: inline-block;
        margin: 0 45px 0 0;
        text-transform: uppercase;
      }
    }
  }

  &-pay {
    display: block;
    position: relative;
    width: 100%;
    padding: 0 0 60px 60px;

    label {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
    }

    input {
      width: 0;
      height: 0;
      position: absolute;
      overflow: hidden;
      opacity: 0;

      &:checked~.q-order-pay__method {
        .q-order-pay__method-title {
          color: #0000ff;
        }

        .q-order-pay__method-icons {
          border-color: #0000ff;
        }

        color: #0000ff;
      }
    }

    &__method {
      display: block;
      position: relative;
      width: 100%;
      max-width: 495px;
      margin: 0 0 100px 0;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        text-decoration: none;
      }

      &-title {
        display: block;
        margin: 0 0 12px 0;
        color: #000000;
        font-family: Aeroport;
        font-size: 23px;
        font-weight: 700;
        text-align: center;
      }

      &-icons {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        width: 100%;
        min-height: 90px;
        padding: 4px 8px;
        border-radius: 999rem;
        border: 2px solid #000000;
        background-color: #ffffff;

        img {
          max-width: 150px;
          max-height: 80px;
        }
      }
    }

    &__warn {
      display: block;
      position: relative;
      margin: 0 0 20px 0;
      padding-left: 32px;
      color: #000000;
      font-family: Aeroport;
      font-size: 23px;
      font-weight: 400;
      line-height: 1.36;

      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        left: 0;
        top: 6px;
        border-radius: 999rem;
        border: 2px solid #0000ff;
      }

      a {
        color: #0000ff;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #000000;
          text-decoration: none;
        }
      }
    }

    &__complete {
      display: inline-block;
      padding: 32px 60px;
      border: 0;
      outline: none;
      border-radius: 999rem;
      border: 2px solid #0000ff;
      background: transparent;
      color: #0000ff;
      font-family: "2 MASSJ 1808- Heavy";
      font-size: 42px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background: #0000ff;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.q-contacts {
  display: block;
  position: relative;
  width: 100%;

  &__info {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 75px 0;
    color: #000000;
    font-size: 35px;
    font-weight: 400;
    text-align: center;

    b,
    strong {
      color: #0000ff;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 40px;

    &_margin_big {
      margin-bottom: 100px;
    }

    &__map {
      display: block;
      position: relative;
      width: 100%;
      max-width: 1200px;
      height: 570px;
      background-position: center center;
      background-size: cover;

      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
      }
    }

    &__info {
      display: block;
      position: relative;
      margin: 0 0 14px 0;
      color: #000000;
      font-size: 23px;
      font-weight: 400;
      line-height: 1.63;

      b,
      strong {
        font-weight: 700;
      }

      a {
        color: #0000ff;
        cursor: pointer;
        text-decoration: underline;
        transition: all 0.2s ease-out;

        &:hover {
          color: #0000ff;
          text-decoration: none;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    max-width: 100%;
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (min-width: 1440px) {
  .q-modal__close {
    right: -75px;
    top: -10px;
  }
}

@media (max-width: 1440px) {
  .q-contacts__info {
    margin-bottom: 55px;
  }

  .q-contacts-card__info {
    font-size: 17px;
  }

  .q-contacts-card__map {
    max-width: 900px;
    height: 425px;
  }

  .q-contacts-card {
    margin-bottom: 30px;
  }

  .q-contacts-card_margin_big {
    margin-bottom: 70px;
  }

  .q-campus-top {
    height: 620px;
  }

  .q-item__title_home {
    font-size: 58px;
  }

  .q-item__subtitle {
    font-size: 17px;
  }

  .q-item__button_home {
    padding: 22px 6px;
    font-size: 30px;
  }

  .q-campus-card {
    margin-bottom: 35px;
  }

  .q-campus-card__title {
    font-size: 31px;
  }

  .q-campus-card__subtitle {
    font-size: 20px;
  }

  .q-campus-card__content {
    min-height: 275px;
  }

  .q-campus-card__subtitle sup {
    font-size: 13px;
  }

  .q-campus-card__info {
    font-size: 17px;
  }

  .q-campus-card__info b,
  .q-campus-card__info strong {
    font-size: 20px;
  }

  .q-campus-card__link {
    font-size: 16px;
  }

  .q-campus-card__content {
    font-size: 25px 30px 30px 30px;
  }

  .q-campus-card__button {
    padding: 13px 25px;
    font-size: 16px;
  }

  .q-campuses-info-card__title {
    font-size: 31px;
  }

  .q-campuses-info-card__text {
    font-size: 17px;
  }

  .q-campuses-info-card {
    margin-bottom: 45px;
  }

  .q-footer__logo img {
    max-width: 150px;
  }

  .q-header__logo img {
    max-width: 150px;
  }

  .q-footer__copyright {
    font-size: 14px;
  }

  .q-footer__nav li a {
    font-size: 17px;
  }

  .q-footer__info {
    font-size: 17px;
  }

  .q-footer__link {
    font-size: 17px;
  }

  .q-footer__title {
    font-size: 17px;
  }

  .q-footer__partners img,
  .q-footer__partners svg {
    margin: 7px 2px;
  }

  .q-item-gallery__card {
    height: 620px;
  }

  .q-item__title {
    font-size: 58px;
    letter-spacing: 0.46px;
  }

  .q-item__title sup {
    font-size: 34px;
  }

  .q-item__button {
    padding: 24px 6px;
    font-size: 30px;
  }

  .q-item__description {
    font-size: 17px;
  }

  .q-item-gallery .swiper-pagination {
    margin-bottom: 26px;
  }

  .q-item-gallery .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 2px solid #ffffff;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 7px;
  }

  .q-item-gallery .swiper-pagination-bullet-active {
    border-color: #0000ff;
  }

  .q-item__card-title {
    font-size: 25px;
    letter-spacing: 0.46px;
  }

  .q-item__card {
    width: 225px;
    flex: 0 0 225px;
    height: 115px;
  }

  .q-item__cards {
    padding: 40px 0 5px 0;
  }

  .q-item-collapse__header {
    padding: 40px 0;
  }

  .q-order__title {
    font-size: 58px;
    letter-spacing: 0.46px;
  }

  .q-order-step__types label {
    max-width: 340px;
  }

  .q-order-step__type-title {
    padding: 22px 6px;
    font-size: 20px;
  }

  .q-order-step__type-text {
    font-size: 17px;
  }

  .q-order-step__header {
    padding: 40px 0;
  }

  .q-order-step__title {
    font-size: 31px;
  }

  .q-order-step__number {
    font-size: 31px;
  }

  .q-order-step__subtitle {
    font-size: 17px;
  }

  .q-order-shedule .table td,
  .q-order-shedule .table th {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 17px;
  }

  .q-order-shedule__checkbox {
    font-size: 17px;
  }

  .q-order-shedule .table thead th {
    font-size: 17px;
  }

  .q-order__form-input {
    margin-bottom: 35px;
    padding: 9px 0;
    font-size: 17px;
  }

  .q-order__form textarea {
    margin: 0;
    padding: 9px 0;
    font-size: 17px;
  }

  .q-order-finish__info-text {
    font-size: 17px;
  }

  .q-order-finish__info-title {
    font-size: 17px;
  }

  .q-order-finish__info-card {
    margin-bottom: 20px;
  }

  .q-order-finish__promo-text {
    max-width: 185px;
    font-size: 14px;
  }

  .q-order-finish__promo-title {
    font-size: 17px;
  }

  .q-order-finish__promo input {
    max-width: 190px;
    margin: 0 15px;
    padding: 22px 4px;
    font-size: 20px;
  }

  .q-order-finish__promo-button {
    padding: 22px 50px;
    font-size: 20px;
  }

  .q-order-finish__price {
    font-size: 20px;
  }

  .q-order-finish__image {
    height: 400px;
  }

  .q-order-pay__method-title {
    font-size: 17px;
  }

  .q-order-pay__warn {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.38;

    br {
      display: none;
    }
  }

  .q-order-pay__complete {
    padding: 26px 45px;
    font-size: 31px;
  }

  .q-item-collapse__title {
    font-size: 31px;
  }

  .q-item-collapse__number {
    font-size: 31px;
  }

  .q-item-collapse__icon {
    max-height: 26px;
  }

  .q-item .table td,
  .q-item .table th {
    font-size: 17px;
  }

  .q-item .table thead th {
    font-size: 17px;
  }

  .q-item-collapse__content {
    font-size: 17px;
  }

  .q-nav__ul li a {
    margin-bottom: 12px;
    font-size: 20px;
  }

  .q-nav__close {
    margin-bottom: 40px;
  }

  .q-order-step__services li {
    max-width: 344px;
  }
}

@media (max-width: 1199px) {
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }

  .q-order-step__services-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 344px;
    min-height: 68px;
    margin-bottom: 35px;
    padding: 7px 6px;
    border: 2px solid #000000;
    border-radius: 999rem;
    color: #000000;
    font-size: 20px;
    font-weight: 400;

    .q_mob_hide {
      display: none;
    }

    &:before {
      display: none;
    }
  }

  .q-header {
    padding: 30px 0;

    &>.container-fluid {
      align-items: center;
    }
  }

  .q-campuses-info-card__title {
    margin-bottom: 5px;
    font-size: 36px;
  }

  .q-campus-card__content {
    padding: 30px 20px;
  }

  .q-campus-card__button {
    display: block;
    width: 100%;
    padding: 16px;
  }

  .q-campus-card__content>div {
    width: 100%;
  }

  .q-campus-cards {
    padding: 40px 0 20px 0;
  }

  .q-campus-card {
    margin: 0 auto 20px auto;
  }

  .q-campus-top {
    height: 595px;
  }

  .q-campuses-info-card {
    margin: 0 auto 65px auto;
    text-align: center;
  }

  .q-to-contact {
    img {
      max-width: 120px;
      max-height: 120px;
    }

    bottom: 15px;
    right: 15px;
  }

  .q-modal__content {
    margin: 160px 0 10px 0;
    padding: 65px 20px 80px 20px;
  }

  .q-modal__button {
    font-size: 30px;
  }

  .q-modal__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.2;
  }

  .q-modal__choose {
    margin-bottom: 30px;
  }

  .q-modal__input {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .q-modal__form textarea {
    margin-bottom: 40px;
  }

  .q-modal__button {
    width: 100%;
    padding: 24px;
  }

  .q-item-gallery__card {
    height: 350px;
  }

  .q-item-gallery .swiper-pagination {
    left: 15px;
    margin-bottom: 20px;
  }

  .q-item__cards {
    padding: 20px 0 40px 0;
  }

  .q-item__info {
    padding: 0px 0 20px 0;
  }

  .q-item__title {
    margin-bottom: 20px;
    font-size: 52px;

    sup {
      font-size: 32px;
    }
  }

  .q-item__button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 16px 8px;
    font-size: 24px;
    text-align: center;
  }

  .q-item__description {
    font-size: 18px;
  }

  .q-item-collapse__header {
    padding: 20px 0;
  }

  .q-item-collapse__title {
    font-size: 22px;
  }

  .q-item .table td,
  .q-item .table th {
    font-size: 16px;
  }

  .q-item-collapse__content {
    padding-bottom: 20px;
    font-size: 16px;
  }

  .q-order__title {
    font-size: 30px;
  }

  .q-order-pay__complete {
    display: block;
    width: 100%;
    padding: 24px 12px;
    font-size: 24px;
    text-align: center;
  }

  .q-order-step__number {
    font-size: 24px;
  }

  .q-order-step__title {
    font-size: 24px;
  }

  .q-order-step__header {
    padding: 20px 0;
  }

  .q-order-shedule {
    padding: 0;
  }

  .q-order-shedule__info-black {
    display: inline-block;
    margin: 2px;
    text-align: center;
  }

  .q-order-shedule__info-blue {
    display: inline-block;
    margin: 2px;
    text-align: center;
  }

  .q-order-shedule__info-gray {
    display: inline-block;
    margin: 2px;
    text-align: center;
  }

  .q-order-step__subtitle {
    padding-left: 0;
  }

  .q-order-step__counter {
    margin: 0;
  }

  .q-order-step__types {
    padding: 0;
  }

  .q-order-step__type-title {
    padding: 25px 15px;
  }

  .q-order-step__services {
    padding: 0;
  }

  .q-order-step__services li {
    margin-bottom: 15px;
  }

  .q-order__form-input {
    margin-bottom: 20px;
  }

  .q-order__form textarea {
    margin-bottom: 20px;
  }

  .q-order-finish {
    padding: 0;
  }

  .q-order-finish__promo input {
    margin: 15px 0;
  }

  .q-order-finish__image {
    height: 300px;
  }

  .q-order-pay {
    padding: 0;
  }

  .q-order-pay__method {
    margin-bottom: 30px;
  }

  .q-order-step__number {
    width: 30px;
    position: absolute;
  }

  .q-order-step__title {
    padding-left: 30px;
  }

  .q-modal__title {
    font-size: 38px;
  }

  .q-modal__check {
    display: block;
    width: 48%;
    margin: 0;
    padding: 0;
    line-height: 0;
  }

  .q-modal__check span {
    display: block;
    width: 100%;
    max-width: 285px;
    margin-bottom: 20px;
    padding: 28px 12px;
    border: 2px solid #101012;
    border-radius: 999rem;
    color: #000000;
    line-height: 1.2;
    font-size: 31px;
    font-weight: 400;
    text-align: center;

    &:after {
      display: none;
    }
  }

  .q-modal__check input:checked~span {
    border-color: #0000ff;
  }

  .q-modal__check input:checked~span:after {
    display: none;
  }

  .q-modal__content {
    max-width: 700px;
  }

  .q-campus-card__link {
    display: block;
    margin: 0 auto 35px auto;
    text-align: center;
  }

  .q-campus-card__link_hide {
    display: none;
  }

  .q-footer__logo {
    display: block;
    width: 100%;
  }

  .q-footer {

    .col-xl-4,
    .col-xl-3,
    .col-xl-9 {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
    }
  }

  .q-item__button {
    padding: 29px 6px;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
  }

  .q-item-gallery .swiper-pagination {
    left: 0;
    width: 100%;
    text-align: center;
  }

  .q-order-step__services label {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 0;
  }

  .q-order-step__services {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  .q-order-step__services li {
    display: block;
    width: 48%;
    margin: 0;
  }

  .q-order-step__services-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 93px;
    margin-bottom: 20px;
    padding: 2px 12px;
    border: 2px solid #101012;
    border-radius: 999rem;
    color: #000000;
    line-height: 0.94;
    font-size: 31px;
    font-weight: 400;
    text-align: center;

    &:before {
      display: none;
    }

    &:after {
      display: none;
    }
  }

  .q-order-step__services input:checked~.q-order-step__services-text {
    border-color: #0000ff;
  }

  .q-order-step__services input:checked~.q-order-step__services-text:after {
    display: none;
  }

  .q-item__card {
    margin: 0 auto 26px auto;
  }

  .q-item__card_active .q-item__card-content {
    background: transparent;
  }

  .q-item__cards {
    .swiper-slide-active {
      .q-item__card {
        transform: scale(1.2);
        box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.41);
      }
    }
  }

  .q-item__card:hover {
    transform: none;
  }
}

.q-help_show_mob {
  display: none !important;
}

.wraper {
  justify-content: center !important;
}

@media (max-width: 768px) {
  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
  }

  .q-header__logo img {
    max-width: 120px;
  }

  .q-header__ul {
    display: none;
  }

  .q-help_show_mob {
    display: block !important;
  }

  .q_mob_hide {
    display: none !important;
  }

  .q-help_hide_mob {
    display: none !important;
  }

  .q-order-step__services li {
    width: 100%;
    max-width: 156px;
  }

  .q-to-contact {
    bottom: -200px;
    right: -40px;
    transform: scale(0.5);
  }

  .q-to-contact_active {
    bottom: -40px;
  }

  .q-campus-top {
    height: 300px;
  }

  .q-modal__check {
    width: 100%;
  }

  .q-modal__check {
    justify-content: center;
  }

  .q-modal__check span {
    max-width: 100%;
  }

  .q-header__logo {
    max-width: 120px;
  }

  .q-header__nav {
    span {
      display: none;
    }
  }

  .q-header>.container-fluid {
    align-items: flex-start;
  }

  .q-item__title_about {
    margin: 18px 0;
    font-size: 29px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.29px;
  }

  .q-item__description {
    padding-top: 10px;
  }

  .q-item__description p {
    font-size: 16px;
  }

  .q-item__button_about {
    width: 100%;
    margin: 28px 0 40px 0;
    padding: 13px 6px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
  }

  .q-footer__logo {
    max-width: 170px;
    margin: 0;
  }

  .q-nav {
    padding: 20px 20px 5px 20px;
  }

  .q-nav__close {
    margin-bottom: 20px;
  }

  .q-nav__ul li a {
    margin-bottom: 8px;
    font-size: 24px;
  }

  .q-nav__ul {
    padding-bottom: 30px;
  }

  .q-item__title {
    margin-bottom: 8px;
    font-size: 29px;
    letter-spacing: 3.29px;
  }

  .q-item__subtitle {
    margin: 0;
    font-size: 16px;
    font-weight: 400;

    a {
      font-size: 21px;
      letter-spacing: 2.46px;
      line-height: 1.4;
    }
  }

  .q-campus-cards {
    padding: 25px 0;
  }

  .q-item__button {
    display: block;
    width: 100%;
    margin: 20px 0 0 0;
    padding: 14px 6px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  .q-campus-card__title {
    font-size: 24px;
  }

  .q-campus-card__subtitle {
    font-size: 15px;
    letter-spacing: 0.3px;
    line-height: 1.35;
  }

  .q-campus-card__subtitle sup {
    font-size: 10px;
  }

  .q-campus-card {
    margin-bottom: 25px;

    &__info {
      font-size: 13px;
      font-weight: 400;
      line-height: 1.08;
    }
  }

  .q-campus-card__content {
    min-height: 210px;
    padding: 25px;
  }

  .q-campus-card__info b,
  .q-campus-card__info strong {
    position: absolute;
    max-width: 96px;
    top: 28px;
    right: 25px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
  }

  .q-campus-card__title {
    max-width: 200px;
  }

  .q-campus-card__link {
    margin: 20px auto;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
  }

  .q-campus-card__button {
    border: 1px solid #ffffff;
    padding: 14px 6px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
  }

  .q-campuses-info-card {
    margin: 0 auto 30px auto;
  }

  .q-campuses-info-card__title {
    margin: 0 0 6px 0;
    font-size: 24px;
    font-weight: 400;
  }

  .q-campuses-info-card__title sup {
    font-size: 15px;
  }

  .q-campuses-info-card__text {
    font-size: 15px;
    font-weight: 400;
  }

  .q-footer {
    padding: 35px 0 15px 0;
  }

  .q-footer__logo {
    margin: 0 0 46px 0;
  }

  .q-footer__copyright {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    text-align: center;

    br {
      display: none;
    }
  }

  .q-footer__nav {
    margin: 0 0 30px 0;
  }

  .q-footer__nav li a {
    font-size: 22px;
    font-weight: 700;
    line-height: 2;
  }

  .q-footer__social {
    /* padding: 50px 0 13px 0; */
    padding: 15px 0;

    a {
      margin: 0 13px 13px 13px;

      img {
        max-width: 52px;
        max-height: 52px;
      }
    }
  }

  .q-item__card {
    max-width: 160px;
    flex: 0 0 160px;
    height: 80px;
    border-radius: 11px;
  }

  .q-item__card-content {
    padding: 2px;
    border-radius: 11px;
  }

  .q-item__card-title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.45px;
  }

  .q-item__cards {
    padding: 16px 0 34px 0;
  }

  .q-item__title {
    text-align: left;
  }

  .q-item__title sup {
    font-size: 18px;
  }

  .q-item-collapse__number {
    width: 30px;
    font-size: 26px;
  }

  .q-item-collapse__icon {
    max-width: 30px;
    max-height: 20px;
  }

  .q-item .table thead th {
    font-size: 16px;
  }

  .q-order__title {
    font-size: 29px;
    text-align: center;
  }

  .q-order__prep {
    padding: 24px 0;
  }

  .q-order-step__content {
    padding: 0 0 5px 0;
  }

  .q-order-step__type-title {
    margin: 0 0 8px 0;
    padding: 14px 6px;
    font-size: 15px;
    font-weight: 400;
  }

  .q-order-step__type-text {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }

  .q-order-step__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.17;
  }

  .q-order-step__counter-plus,
  .q-order-step__counter-minus {
    width: 46px;
    height: 46px;
    padding: 0;
    border: 1px solid #000000;
    font-size: 42px;
    line-height: 1;

    span {
      margin-top: -6px;
    }
  }

  .q-order-step__counter {
    margin-bottom: 16px;
  }

  .q-order-step__counter input {
    padding: 8px 46px;
    border: 1px solid #000000;
    font-size: 21px;
    font-weight: 400;
  }

  .q-order-shedule .table thead th {
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
  }

  .q-order-shedule .table td,
  .q-order-shedule .table th {
    font-size: 16px;
    font-weight: 400;
  }

  .q-order-shedule__checkbox {
    font-size: 16px;
    font-weight: 400;
  }

  .q-order-shedule__info {
    display: none;
  }

  .q-order-shedule__date {
    font-size: 17px;
    font-weight: 700;
  }

  .q-order-shedule__prev img,
  .q-order-shedule__prev svg {
    max-width: 20px;
    max-height: 20px;
  }

  .q-order-shedule__next img,
  .q-order-shedule__next svg {
    max-width: 20px;
    max-height: 20px;
  }

  .q-order-step__services-text {
    min-height: 46px;
    margin-bottom: 10px;
    padding: 7px 6px;
    border: 1px solid #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 0.91;
  }

  .q-order__form-input {
    margin-bottom: 26px;
    padding: 3px 0;
    font-size: 16px;
    font-weight: 400;
  }

  .q-order__form textarea {
    margin-bottom: 26px;
    padding: 3px 0;
    font-size: 16px;
    font-weight: 400;
  }

  .q-order-finish__info-card {
    margin-bottom: 12px;
  }

  .q-order-finish__info-text {
    color: #000000;
    font-size: 16px;
  }

  .q-order-finish__info-title {
    font-size: 16px;
  }

  .q-order-finish__promo-title {
    color: #000000;
    font-size: 16px;
  }

  .q-order-finish__promo-text {
    color: #000000;
    font-size: 16px;
  }

  .q-order-finish__promo input {
    max-width: 160px;
    margin-right: 16px;
    padding: 14px 6px;
    color: #000000;
    font-size: 15px;
  }

  .q-order-finish__promo-button {
    display: inline-block;
    padding: 13px 38px;
    border: 1px solid #000000;
    font-size: 15px;
  }

  .q-order-finish__promo {
    padding: 20px 0;
  }

  .q-order-pay__method-title {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
  }

  .q-order-pay__method-icons {
    min-height: 46px;
    padding: 2px 30px;
    border: 1px solid #000000;
  }

  .q-order-pay__method-icons img {
    max-width: 70px;
    max-height: 35px;
  }

  .q-order-pay__warn {
    font-size: 16px;
    font-weight: 400;

    br {
      display: none;
    }
  }

  .q-order-pay__complete {
    margin-bottom: 40px;
    padding: 14px 6px;
    border: 1px solid #0000ff;
    font-size: 15px;
    font-weight: 400;
  }

  .q-order-pay__warn:before {
    width: 16px;
    height: 16px;
    border: 1px solid #0000ff;
  }

  .q-order-finish__price {
    font-size: 17px;
  }

  .q-order-finish__price-title {
    font-size: 17px;
  }

  .q-order-finish__image {
    height: 210px;
    margin-bottom: 30px;
  }

  .q-item-gallery .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    border: 2px solid #ffffff;
    margin: 0;
    padding: 5px;
  }

  .q-item-gallery .swiper-pagination {
    margin-bottom: 10px;
  }

  .q-item-gallery .swiper-pagination-bullet-active {
    border-color: #0000ff;
  }

  .q-item__card-title {
    font-size: 19px;
  }

  .q-item__card-info {
    bottom: -7px;
    font-size: 15px;
  }

  .q-item__info_home {
    br {
      display: none;
    }
  }

  .q-item__subtitle {
    text-align: left;

    a {
      display: block;
    }
  }

  .q-contacts__info {
    margin-bottom: 28px;
    font-size: 16px;
    text-align: center;
  }

  .q-contacts-card__info {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
  }

  .q-contacts-card__map {
    width: calc(100% + 40px);
    height: auto;
    margin: 20px -20px 20px -20px;

    img {
      width: 100%;
      max-width: 100%;
    }
  }

  .q-contacts-card {
    margin: 0;
  }

  .q-contacts-card_margin_big {
    margin-bottom: 0;
  }

  .q-contacts-card {
    .col-xl-4 {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }

    .q-item__button_order {
      order: -1;
      margin-top: 0;
      margin-bottom: 16px;
    }
  }

  .q-item__button_mob {
    display: block;
    margin: 0 0 20px 0;
    font-size: 18px;
  }

  .q-mob_order_last {
    order: 99;
  }

  .q-item__button_contacts {
    margin: 0 0 20px 0;
  }

  .q-contacts-card__map_1_1 {
    background-image: url('../images/maps_1_1_mob.png') !important;
  }

  .q-contacts-card__map_1_2 {
    background-image: url('../images/maps_1_2_mob.png') !important;
  }

  .q-contacts-card__map_2_1 {
    background-image: url('../images/maps_2_1_mob.png') !important;
  }

  .q-contacts-card__map_2_2 {
    background-image: url('../images/maps_2_2_mob.png') !important;
  }

  .q-item__title {
    text-shadow: 1px 0 0 #0000ff, -1px 0 0 #0000ff, 0 1px 0 #0000ff, 0 -1px 0 #0000ff, 1px 1px #0000ff, -1px -1px 0 #0000ff, 1px -1px 0 #0000ff, -1px 1px 0 #0000ff;
    -webkit-text-stroke-width: 0 !important;
  }

  .q-order__title {
    -webkit-text-stroke-width: 0 !important;
  }

  .wraper .content .menu-list .menu-item .name a {
    -webkit-text-stroke-width: 0 !important;
  }

  .wraper {
    display: block !important;
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    min-height: 100vh !important;
    padding: 60px 5px 20px 5px !important;
  }

  /* .swiper-slide {
    width: auto !important;
  } */
}

/* @media (max-width: 500px) {
  .q-item-gallery__card {
    height: 250px;
  }

  .q-item__card {
    width: 250px;
    height: 125px;
  }

  .q-item__card-title {
    font-size: 36px;
  }
} */

@media (max-width: 330px) {
  .q-order__title {
    font-size: 25px;
    text-align: center;
  }
}

@import './menu.scss';