@font-face {
  src: url(../fonts/2MASS-J1808-Heavy.otf);
  font-family: "2MASS Heavy"
}

@font-face {
  src: url(../fonts/2MASS-J1808-Normal.otf);
  font-family: "2MASS-Normal"
}

@font-face {
  src: url(../fonts/Aeroport-bold.otf);
  font-family: Aeroport Bold
}

@font-face {
  src: url(../fonts/Aeroport-regular.otf);
  font-family: Aeroport Regular
}

.wraper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  margin: 0;
  background: #fff;
  transition: all 0.2s ease-out;
  z-index: 1;

  &_active {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
  }

  &__close {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

.wraper .header {
  margin: 20px
}

.wraper .content {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.wraper .content .menu-list {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 60%;
  counter-reset: list;
}

.wraper .content .menu-list .menu-item {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  animation: showLeft 1s;
}

.wraper .content .menu-list .menu-item:nth-of-type(1) {
  animation: showLeft 2s;
}

.wraper .content .menu-list .menu-item:nth-of-type(2) {
  animation: showLeft 3s;
}

.wraper .content .menu-list .menu-item:nth-of-type(3) {
  animation: showLeft 4s;
}

.wraper .content .menu-list .menu-item:nth-of-type(4) {
  animation: showLeft 5s;
}

.wraper .content .menu-list .menu-item:nth-of-type(5) {
  animation: showLeft 6s;
}

.wraper .content .menu-list .menu-item:before {
  counter-increment: list;
  content: "0"counter(list);
  font-size: 14px;
  position: absolute;
  top: 20px;
  left: -20px;
  text-shadow: none;
  color: #001fe0;
  font-family: "2MASS Heavy";
  position: absolute;
  opacity: 0;
}

.wraper .content .menu-list .menu-item:hover:before {
  opacity: 1;
  -webkit-animation: fadeIn .5s;
  animation: fadeIn .5s;
}

.wraper .content .menu-list .menu-item:hover .description {
  opacity: 0;
  -webkit-animation: fadeOut .5s;
  animation: fadeOut .5s;
}

/*.menu-list:hover + .circle-block .eye .img {
    background: url("../images/eye_open.png");
}*/

.wraper .content .menu-list .menu-item video {
  position: absolute;
  right: -67px;
  height: 220px;
  opacity: 0;
}

.wraper .content .menu-list .menu-item:nth-of-type(1) video {
  right: -67px;
}

.wraper .content .menu-list .menu-item:nth-of-type(2) video {
  left: 62px;
}

.wraper .content .menu-list .menu-item:nth-of-type(3) video {
  right: 83px;
}

.wraper .content .menu-list .menu-item:nth-of-type(4) video {
  left: 125px;
}

.wraper .content .menu-list .menu-item:nth-of-type(5) video {
  left: 62px;
}

.wraper .content .menu-list .menu-item:hover video {
  opacity: 1;
  -webkit-animation: fadeIn .5s;
  animation: fadeIn .5s;
}

.wraper .content .menu-list .menu-item .name {
  font-family: "2MASS Heavy";
  font-size: 100px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;
  transition: all 1s;
}

.wraper .content .menu-list .menu-item .name a {
  color: #fff;
  text-decoration: none;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  &:hover {
    -webkit-text-stroke-color: #001fe0;
  }
}

.wraper .content .menu-list .menu-item:hover .name {
  transform: translate(15%, 0%) scale(1.3);
  text-shadow: #001fe0 1px 1px 0, #001fe0 -1px -1px 0, #001fe0 -1px 1px 0, #001fe0 1px -1px 0;
  transition: all 1s;
  z-index: 999;
}

.wraper .content .menu-list .menu-item .description {
  font-family: Aeroport Bold;
  font-size: 15px;
  margin-left: 15px;
  opacity: 1;
  -webkit-animation: fadeIn .5s;
  animation: fadeIn .5s;
}

.wraper .content .circle-block {
  position: absolute;
  right: 120px;
  bottom: 270px;
  opacity: 0;
}

.wraper .content .circle-block .eye {
  position: relative;
  width: 170px;
  height: 170px;
}

.wraper .content .circle-block .eye .text {
  font-family: Aeroport;
  color: #000;
  font-size: 26px;
}

.wraper .content .circle-block .eye .text a {
  color: #000;
  text-decoration: none;
}

.wraper .content .circle-block .eye .img {
  background: url("../images/eye_close.png");
  width: 132px;
  height: 69px;
  position: absolute;
  top: 82px;
  left: 38px;
  background-size: 100px;
  background-repeat: no-repeat;
}

.wraper .content .circle-block .eye .img.open {
  background: url("../images/eye_open.png");
  top: 70px;
  left: 38px;
  background-size: 100px;
  background-repeat: no-repeat;
}

.wraper .content .circle-block .eye .text span:nth-of-type(9),
.wraper .content .circle-block .eye .text span:nth-of-type(10) {
  color: #001fe0;
}

.wraper .content .circle-block .eye .text span:nth-of-type(24),
.wraper .content .circle-block .eye .text span:nth-of-type(25),
.wraper .content .circle-block .eye .text span:nth-of-type(26),
.wraper .content .circle-block .eye .text span:nth-of-type(27),
.wraper .content .circle-block .eye .text span:nth-of-type(28),
.wraper .content .circle-block .eye .text span:nth-of-type(29),
.wraper .content .circle-block .eye .text span:nth-of-type(30),
.wraper .content .circle-block .eye .text span:nth-of-type(31),
.wraper .content .circle-block .eye .text span:nth-of-type(32),
.wraper .content .circle-block .eye .text span:nth-of-type(33) {
  text-decoration: underline;
  color: #001fe0;
}

.footer ul {
  display: none;
}

.footer ul li {
  list-style: none;
  color: #001fe0;
  font-family: "2MASS Heavy";
  font-size: 13px;
  transition: all 0.5s linear;
}

.footer ul li:hover {
  transform: translateX(20px);
}

.footer ul li:hover:before {
  content: "-> ";
}

.footer ul li a {
  color: #001fe0;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #000;
  text-decoration: underline;
}

.rotate {
  -webkit-animation-name: cog;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 10s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: cog;
  -ms-animation-duration: 10s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: cog;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media (max-width: 1600px) {
  .wraper .content .menu-list .menu-item .name {
    font-size: 84px;
  }
}

@media (max-width: 1440px) {
  .wraper .content .menu-list .menu-item .name {
    font-size: 76px;
  }
}

@media (max-width: 1200px) {
  .wraper .content .menu-list .menu-item .name {
    font-size: 68px;
  }
}

@media screen and (max-width: 768px) {
  .wraper {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .wraper .content .menu-list {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
  }

  .wraper .content .menu-list .menu-item {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 0 20px 0;
  }

  .wraper .content .menu-list .menu-item:first-child {
    margin-top: 30px;
  }

  .wraper .content .menu-list .menu-item::before {
    display: none;
  }

  .wraper .content .menu-list .menu-item video {
    display: none;
  }

  .wraper .content .menu-list .menu-item .name {
    font-size: 32px;
  }

  .wraper .content .menu-list .menu-item:hover .name {
    transform: none;
    text-shadow: #001fe0 1px 1px 0, #001fe0 -1px -1px 0, #001fe0 -1px 1px 0, #001fe0 1px -1px 0;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #001fe0;
  }

  .wraper .content .menu-list .menu-item .description {
    font-family: Aeroport;
    font-size: 17px;
    text-align: center;
    -webkit-animation: none;
    animation: none;
  }

  .wraper .content .menu-list .menu-item:hover .description {
    color: #001fe0;
    opacity: 1;
    -webkit-animation: none;
    animation: none;
  }

  .wraper .content .menu-list .menu-item .description br {
    display: none;
  }

  .footer {
    width: 100%;
  }

  .footer ul {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin: 20px auto;
  }

  .footer ul li:hover {
    transform: none;
  }

  .footer ul li:hover::before {
    display: none;
  }

  .footer ul li a {
    color: #001fe0;
    text-decoration: none;
  }

  .footer ul li a:hover {
    color: #000;
    text-decoration: underline;
  }

  .wraper .content .circle-block {
    right: 20px;
    top: 60px;
  }

  .wraper .content .circle-block .eye {
    width: 120px;
    height: 120px;
  }

  .wraper .content .circle-block .eye .text {
    font-size: 11px;
  }

  .wraper .content .circle-block .eye .img {
    width: 69px;
    top: 36px;
    left: 39px;
    background-size: 43px;
  }

  .wraper .content .circle-block .eye .img.open {
    top: 31px;
    left: 39px;
    background-size: 43px;
  }

  .wraper .content .circle-block {
    right: 15px;
    top: 25px;
  }

  .footer ul {
    flex-flow: column nowrap;

    li {
      display: block;
      text-align: center;

      a {
        display: block;
        width: 100%;
        color: #001fe0;
        font-size: 22px;
        font-weight: 700;
        line-height: 2;
      }
    }
  }
}

@-ms-keyframes cog {
  from {
    -ms-transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes cog {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes cog {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes cog {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes showLeft {
  from {
    transform: translateX(-1000px);
    opacity: 0
  }

  to {
    transform: translateX(0);
    opacity: 1
  }
}